@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #303030;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background: #00C2FF;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

.container {
  width: 100%;
  max-width: 1194px;
  margin: 0 auto;
  background: #fff;
  margin-bottom: 4.6rem;
}

.inner {
  width: 100%;
  max-width: 1012px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.section-title {
  text-align: center;
  font-size: 3.5rem;
  position: relative;
}

.section-title::after {
  bottom: -3rem;
  content: '';
  background: #00C2FF;
  height: 2px;
  width: 121px;
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.img-box img {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}

.social {
  margin: 0 auto;
  text-align: center;
}

.social-link {
  background: #fff;
  border-radius: 50%;
  padding: 1rem;
  margin-right: 1.4rem;
}

.fab {
  color: #00C2FF;
  font-size: 2rem;
}

.header {
  padding: 13.4rem 0 11rem 0;
}

.header .header-text {
  color: #fff;
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 3.6rem;
}

.header .title {
  font-size: 5.4rem;
  margin-bottom: 1.1rem;
}

.drawer .drawer-toggler {
  position: fixed;
  right: 16%;
  top: 6%;
  z-index: 11;
}

.drawer .drawer-toggler .drawer-btn {
  font-size: 3.6rem;
}

.drawer .opener {
  position: relative;
  display: none;
}

.drawer .opener::before {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
}

.drawer .closer {
  position: relative;
  color: #fff;
  display: none;
}

.drawer .closer::before {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
}

.drawer-content {
  position: fixed;
  width: 100%;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  height: 100vh;
  padding: 10rem 3rem;
}

.drawer-content .drawer-list {
  list-style: none;
}

.drawer-content .drawer-item {
  padding: 1.6rem;
}

.drawer-content .drawer-item::before {
  color: #fff;
  font-size: 2rem;
}

.drawer-content .drawer-item:first-child {
  position: relative;
}

.drawer-content .drawer-item:first-child::before {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
}

.drawer-content .drawer-item:nth-child(2) {
  position: relative;
}

.drawer-content .drawer-item:nth-child(2)::before {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
}

.drawer-content .drawer-item:nth-child(3) {
  position: relative;
}

.drawer-content .drawer-item:nth-child(3)::before {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
}

.drawer-content .drawer-item:nth-child(4) {
  position: relative;
}

.drawer-content .drawer-item:nth-child(4)::before {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
}

.drawer-content .drawer-item:nth-child(5) {
  position: relative;
}

.drawer-content .drawer-item:nth-child(5)::before {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
}

.drawer-content .drawer-link {
  color: #fff;
  padding-left: 3.6rem;
}

.global-nav {
  background: #F7F7F7;
  margin-bottom: 10rem;
}

.global-nav .inner {
  padding: 2.5rem 0;
}

.global-nav .nav-list {
  display: flex;
  justify-content: space-between;
}

.global-nav .nav-link {
  font-size: 1.8rem;
}

.top {
  padding-bottom: 5.3rem;
  border-bottom: 1px solid #eeeeee;
}

.top .section-title {
  margin-bottom: 7rem;
}

.top p, .top li {
  font-size: 2rem;
}

.top .top-left {
  float: left;
  width: 60%;
}

.top .top-right {
  float: right;
  width: 35%;
}

.top .top-list {
  list-style: inside;
}

.top .top-right {
  margin-top: 14rem;
}

.support {
  padding-top: 9.7rem;
}

.support .section-title {
  margin-bottom: 8rem;
}

.support .support-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.support .support-item {
  text-align: center;
  width: calc(33.333333% - 3.2rem);
}

.support .support-item .item-head {
  border: 1px solid #eeeeee;
  padding: 1.3rem;
  border-radius: 50%;
  width: 22.4rem;
  height: 22.4rem;
  margin: 0 auto;
}

.support .support-item .wrapper-circle {
  width: 20rem;
  height: 20rem;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  margin: 0 auto;
}

.support .support-item .img-box {
  width: 8.4rem;
  height: 8.4rem;
  margin: 0 auto;
  margin-top: 5.6rem;
}

.support .support-item .item-title {
  font-size: 2.3rem;
  margin-bottom: 2.4rem;
}

.support .support-item .item-desc {
  font-size: 1.9rem;
  line-height: 1.8;
}

.skill-support {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 2rem;
}

.detail {
  padding: 9.4rem 0 10rem 0;
  border-bottom: 1px solid #eeeeee;
}

.detail .section-title {
  margin-bottom: 9.3rem;
}

.detail .table {
  font-size: 2rem;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eeeeee;
  margin-bottom: 10rem;
}

.detail tr:nth-child(odd) {
  background: #F7F7F7;
}

.detail td {
  border: 1px solid #eeeeee;
  padding: 1.8rem;
  font-size: 2rem;
}

.detail td:nth-child(odd) {
  font-weight: bold;
  width: 35rem;
  padding-left: 0.8rem;
}

.detail .slider {
  position: relative;
}

.detail .slide {
  margin: 0 auto;
  display: none;
  position: relative;
}

.detail .slide img {
  display: block;
  margin: 0 auto;
}

.detail .slide .img-desc {
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.8rem;
  padding: 3.2rem;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.detail .slide-active {
  display: block;
}

.detail .prev {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4.8rem;
  z-index: 1;
}

.detail .prev::before {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
}

.detail .next {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8%;
  font-size: 4.8rem;
  z-index: 1;
}

.detail .next::before {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
}

.detail .read-more {
  display: block;
  width: 27.5rem;
  padding: 1.5rem;
  border: 1px solid #eeeeee;
  margin: 0 auto;
  text-align: center;
}

.point {
  padding: 9.6rem 0 10.5rem 0;
  border-bottom: 1px solid #eeeeee;
}

.point .fw-b {
  font-weight: bold;
  font-size: 1.8rem;
}

.point .section-title {
  margin-bottom: 7.3rem;
}

.point .check-list {
  width: 73.5rem;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.point .check-item {
  font-size: 1.8rem;
  padding-left: 3rem;
  position: relative;
  line-height: 1.8;
}

.point .check-item::before {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
}

.point .check-item::before {
  left: 0;
}

.point .campaign-block {
  border: 5px solid #00C2FF;
  text-align: center;
  padding: 1.3rem 2.7rem;
  width: 55.3rem;
  margin: 0 auto;
}

.point .campaign-block .campaign {
  font-size: 2.2rem;
}

.point .campaign-block .campaign .fw-b {
  font-size: 2.2rem;
}

.owner {
  padding: 10rem 0 20rem 0;
  border-bottom: 1px solid #eeeeee;
}

.owner .section-title {
  margin-bottom: 7rem;
}

.owner .owner-content .content-left {
  float: left;
  width: 60%;
}

.owner .owner-content .owner-desc {
  line-height: 1.8;
}

.owner .owner-content .content-right {
  width: 35%;
  float: right;
}

.contact {
  padding: 10rem 0;
}

.contact .section-title {
  margin-bottom: 7rem;
}

.contact .contact-desc {
  text-align: center;
}

.contact .contact-desc p {
  margin-bottom: 1.1rem;
}

.contact .contact-desc a {
  text-decoration: underline;
}

.contact .contact-list {
  border: 1px solid #eeeeee;
  margin-bottom: 4rem;
}

.contact .contact-list .contact-item {
  padding: 1.8rem;
  padding-left: 0.8rem;
  border-bottom: 1px solid #eeeeee;
}

.contact .contact-list .contact-item:last-child {
  border-bottom: none;
}

.contact .contact-list .contact-item:nth-child(odd) {
  background: #F7F7F7;
}

.contact .contact-message {
  text-align: center;
}

.footer {
  margin-bottom: 26.6rem;
}

@media screen and (max-width: 1025px) {
  .container {
    width: 100%;
    max-width: 860px;
  }
  .inner {
    width: 100%;
    max-width: 720px;
  }
  .header .title {
    font-size: 4.8rem;
  }
  .global-nav .nav-link {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 720px;
    width: 100%;
  }
  .inner {
    max-width: 680px;
    width: 100%;
  }
  .top p, .top li {
    font-size: 1.6rem;
  }
  .top .top-right {
    margin-top: 20rem;
  }
  .support .support-item {
    width: calc(50% - 3.2rem);
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .support .support-item .item-title {
    font-size: 2rem;
  }
  .support .support-item .item-desc {
    font-size: 1.6rem;
  }
  .detail td {
    font-size: 1.6rem;
  }
  .point .check-list {
    width: 100%;
  }
  .point .check-item {
    font-size: 1.4rem;
  }
  .owner .owner-content .owner-desc {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 400px;
    width: 100%;
  }
  .inner {
    max-width: 360px;
    width: 100%;
  }
  .section-title {
    font-size: 2.4rem;
  }
  .header .header-text {
    font-size: 2.4rem;
  }
  .global-nav {
    display: none;
  }
  .drawer .closer {
    display: none;
  }
  .drawer .opener {
    display: block;
  }
  .d-check .opener {
    display: none;
  }
  .d-check .closer {
    display: block;
  }
  .d-check .drawer-content {
    display: block;
  }
  .top {
    padding-top: 3rem;
  }
  .top .section-title {
    font-size: 3.2rem;
  }
  .top .top-left {
    float: none;
    width: 100%;
  }
  .top .top-right {
    float: none;
    width: 100%;
    margin-top: 6rem;
  }
  .support .support-item {
    width: 100%;
  }
  .iframe-responsive {
    position: relative;
    width: 100%;
    padding-top: 36rem;
  }
  .iframe-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .detail td:nth-child(odd) {
    width: 0;
  }
  .detail .slide .img-desc {
    padding: 1.6rem;
    width: 100%;
  }
  .detail .button {
    color: #fff;
  }
  .detail .next {
    right: 16%;
  }
  .detail .prev {
    left: 9%;
  }
  .point .campaign-block {
    width: 100%;
  }
  .point .fw-b {
    font-size: 1.6rem;
  }
  .owner .owner-content .content-left {
    float: none;
    width: 100%;
  }
  .owner .owner-content .content-right {
    float: none;
    width: 100%;
    margin-top: 6rem;
  }
  .contact-desc p {
    font-size: 1.4rem;
  }
  .contact-message {
    font-size: 1.5rem;
  }
}
